<!DOCTYPE html>
<html>

<head>
    <title><%=baslik%> - Note Chan</title>
    <meta name="theme-color" content="#1065a5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Note Chan">
    <meta property="og:title" content="Note Chan" />
    <meta property="og:footer" content="" />
    <meta property="og:description" content="Note Chan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../assets/css/application.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/highlight.min.css" />
    <link rel="shortcut icon" href="../assets/img/logo.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <h1 class="logo">
        <span class="word1"><%=baslik%></span>
    </h1>
    <div id="content">
        <textarea readonly style="resize: none;" rows="10" cols="40"><%=text%></textarea>
        <a href="/raw/<%=id%>"><button>Raw</button></a>
    </div>
    
</body>

</html>